{% extends 'layout.jinja2' %}

{% block title %}Create PO - {% endblock title %}

{% block content %}
<p>
<strong>
    Create PO
</strong><br>
{{ message }}
</p>
<form action="{{ url }}" method="post">
<input type="hidden" name="next" value="{{ next_url }}">
<div class="form-group">
    <label for="ponumber">PO Number</label>
    <input type="text" name="ponumber" value="{{ ponumber }}">
</div>
<div class="form-group">
    <button type="submit" name="form.submitted" value="Submit" class="btn btn-default">Find PO</button>
</div>
</form>
{% endblock content %}
