{% extends 'layout.jinja2' %}

{% block title %}Edit part - {% endblock title %}

{% block content %}
<p>
<strong>
    Edit Part Data
</strong><br>
{{ message }}
</p>
<form action="{{ url }}" method="post">
<div class="form-group">
    <label for="partnumber">Part Number</label>
    <input type="text" name="partnumber" id="partnumber" value="{{ partnumber }}" readonly>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" id="description" value="{{ description }}">
</div>
<div class="form-group">
    <label for="barcodepn">Barcode Part#</label>
    <input type="text" name="barcodepn" id="barcodepn" value="{{ barcodepn }}">
</div>
<div class="form-group">
    <label for="barcodespn">Barcode Supplier PN</label>
    <input type="text" name="barcodespn" id="barcodespn" value="{{ barcodespn }}">
</div>
<div class="form-group">
    <label for="manufacturer">Manufacturer</label>
    <input type="text" name="manufacturer" id="manufacturer" value="{{ manufacturer }}">
</div>
<div class="form-group">
    <label for="mpn">MPN</label>
    <input type="text" name="mpn" id="mpn" value="{{ mpn }}">
</div>
<div class="form-group">
    <label for="multiple">Multiple</label>
    <input type="text" name="multiple" id="multiple" value="{{ multiple }}">
</div>
<div class="form-group">
    <label for="tapetep">Tape Step</label>
    <input type="text" name="tapestep" id="tapestep" value="{{ tapestep }}">
</div>
<div class="form-group">
    <label for="tapethickness">Tape Thickness</label>
    <input type="text" name="tapethickness" id="tapethickness" value="{{ tapethickness }}">
</div>

<div class="form-group">
    <button type="submit" name="form.save" value="Save" class="btn btn-default">Save</button>
</div>

</form>
<script>document.getElementById('barcodepn').focus();</script>


{% endblock content %}

