{% extends 'layout.jinja2' %}

{% block title %}Edit User - {% endblock title %}

{% block content %}
<p>
<strong>
    Edit {{username}}
</strong><br>
{{ message }}
</p>
<form action="{{ url }}" method="post">
<input type="hidden" name="next" value="{{ next_url }}">
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password">
</div>
<div class="form-group">
    <button type="submit" name="form.submitted" value="Save" class="btn btn-default">Save</button>
</div>
</form>
{% endblock content %}
