<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="receiving application">
    <meta name="author" content="UltiMachine">
    <link rel="shortcut icon" href="{{request.static_url('ulties:static/pyramid-16x16.png')}}">
    <link href="/static/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>{% block subtitle %}{% endblock %}UltiES Receiving App</title>


    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('ulties:static/theme.css')}}" rel="stylesheet">

  </head>

  <body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">UltiES</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li><a href="/">Label Carrier</a></li>
      <li><a href="/searchcarrier/">Update Carrier</a></li>
      <li><a href="/searchpart">Edit Part Data</a></li>
      <li><a href="/pickparts">Pick Parts</a></li>
      <li><a href="/createpart/">Create Part</a></li>
<!--        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
--> 
     <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#">Link</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/reprint">Reprint Last Carrier</a></li>
            <li><a href="/recent">Recent Carriers</a></li>
<!--            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
-->
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="starter-template">
      <div class="container">
          <div class="col-md-10">
            <div class="content">
            {% if request.user is none %}
            <p class="pull-right">
            <a href="{{ request.route_url('login') }}">Login</a>
            </p>
            {% else %}
            <p class="pull-right">
            {{request.user.name}} <a href="{{request.route_url('logout')}}">Logout</a>
            </p>
            {% endif %}
            {% block content %}{% endblock %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="links">
              <a href="/">Label carrier</a> 
              <a href="/searchcarrier/">Update Carrier</a> 
              <a href="/searchpart">Edit Part Data</a> 
              <a href="/pickparts">Pick Parts</a> 
              <a href="/createpart">Pick Parts</a> 
              <a href="/reprint">Reprint Carrier</a> 
              <a href="/recent">Recent Carriers</a> &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>
    <script src="/static/jquery-1.10.2.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>


  </body>
</html>
