{% extends 'layout.jinja2' %}

{% block title %}Search parts for pick - {% endblock title %}

{% block content %}
<p>
<strong>
    Search for parts to pick
</strong><br>
{{ message }}
</p>
<form action="{{ url }}" method="post">
<div class="form-group">
    <label for="partnumbersearch">Part Number (portion)</label>
    <input type="text" name="partnumbersearch" id="partnumbersearch" value="{{ partnumbersearch }}">
</div>

<div class="form-group">
    <button type="submit" name="form.search" value="Submit" class="btn btn-default">Find Part</button>
</div>

<div align="left">

{% if foundpart == True %}
{% for p in parts %}
 <br> <a href="{{ '/pickdepots/' }}{{ p.part_number }}">{{ p.part_number }} </a> {{p.description}} <br>
{% endfor %}
{% endif %}

</div>

</form>
<script>document.getElementById('partnumbersearch').focus();</script>
{% endblock content %}

