{% extends 'layout.jinja2' %}

{% block title %}Search parts for pick - {% endblock title %}

{% block content %}
<p>
<strong>
    Inventory for part {{partnumber}}
</strong><br>
{{ message }}
</p>
<form action="{{ url }}" method="post">
<div class="form-group">
    <label for="partnumbersearch">Part Number (portion)</label>
    <input type="text" name="partnumbersearch" id="partnumbersearch" value="{{ partnumbersearch }}">
</div>
<li>
<li>
<div class="form-group">
    <button type="submit" name="form.search" value="Submit" class="btn btn-default">Find Part</button>
</div>
{% if foundpart == True %}
{% for c in carriers %}
 <li><a href="{{ '/providepart/' }}{{ c.carrier }}">{{ c.depot }} </a>{{ c.stock }} {{c.carrier}} {{ c.part_number }}
{% endfor %}


{% endif %}
</form>
<script>document.getElementById('partnumbersearch').focus();</script>
{% endblock content %}

