{% extends 'layout.jinja2' %}

{% block title %}Receive Part - {% endblock title %}

{% block content %}
<p>
<strong>
    Receive Part
</strong><br>
{{ message }}
</p>
<form action="{{ url }}" method="post">
<input type="hidden" name="next" value="{{ next_url }}">
<div class="form-group">
    <label for="barcodepn">Part Number Barcode</label>
    <input type="text" name="barcodepn" value="{{ barcodepn }}">
</div>
<div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="text" name="quantity" value="{{ quantity }}">
</div>


<div class="form-group">
    <button type="submit" name="form.submitted" value="Submit" class="btn btn-default">Check In</button>
</div>
</form>
{% endblock content %}
