{% extends 'layout.jinja2' %}

{% block title %}View Users - {% endblock title %}

{% block content %}
<p>
<strong>
    ID, Part Number, quantity, time
</strong><br>
{{ message }}
</p>
{% for r in recent %}
 <li><a href="{{ '/carrier/' }}{{ r.carrier }}">{{ r.carrier }} </a> {{r.part_number}} {{r.quantity}} {{r.create_time}}
{% endfor %}
{% endblock content %}
