{% extends 'layout.jinja2' %}

{% block title %}Update carrier - {% endblock title %}

{% block content %}
<p>
<strong>
    Update Carrier for reel
</strong><br>
{{ message }}
</p>
<form action="{{ url }}" method="post">
<input type="hidden" name="next" value="{{ next_url }}">
<div class="form-group">
    <label for="barcodepn">Carrier Number Barcode</label>
    <input type="text" name="carrierid" id="carrierid" value="{{ carrierid }}">
</div>
<div class="form-group">
    <button type="submit" name="form.submitted" value="Submit" class="btn btn-default">Find Carrier</button>
</div>
</form>
<script>document.getElementById('carrierid').focus();</script>
{% endblock content %}
