{% extends 'layout.jinja2' %}

{% block title %}Create carrier - {% endblock title %}

{% block content %}
<p>
<strong>
    Create Carrier for reel
</strong><br>
{{ message }}
</p>
<form action="{{ url }}" method="post">
<input type="hidden" name="next" value="{{ next_url }}">
<div class="form-group">
    <label for="barcodepn">Part Number Barcode</label>
    <input type="text" name="barcodepn" id="barcodepn" value="{{ barcodepn }}">
</div>
<div class="form-group">
    <button type="submit" name="form.submitted" value="Submit" class="btn btn-default">Find Part</button>
</div>
</form>
<script>document.getElementById('barcodepn').focus();</script>
{% endblock content %}
