{% extends 'layout.jinja2' %}

{% block title %}Search parts - {% endblock title %}

{% block content %}
<p>
<strong>
    Search for parts to edit
</strong><br>
{{ message }}
</p>
<form action="{{ url }}" method="post">
<div class="form-group">
    <label for="partnumbersearch">Part Number (portion)</label>
    <input type="text" name="partnumbersearch" id="partnumbersearch" value="{{ partnumbersearch }}">
</div>
<li>
<li>
<div class="form-group">
    <button type="submit" name="form.search" value="Submit" class="btn btn-default">Find Part</button>
</div>
{% if foundpart == True %}
{% for p in parts %}
 <li><a href="{{ '/part/' }}{{ p.part_number | urlencode }}">{{ p.part_number }} </a> {{p.description}}
{% endfor %}


{% endif %}
</form>
<script>document.getElementById('partnumbersearch').focus();</script>
{% endblock content %}

