{% extends 'layout.jinja2' %}

{% block title %}Special operations - {% endblock title %}

{% block content %}
<p>
<strong>
    Special Operations
</strong><br>
{{ message }}
</p>
<form action="{{ url }}" method="post">
<input type="hidden" name="next_operation" value="{{ next_operation }}">
{% if display == 'menu' %}
<div class="form-group">
    <button type="submit" name="form.pulltowerdepots" value="pulltowerdepots" class="btn btn-default">Pull tower depots</button>
    Downloads depot location from tower when the tower has the carriers. Must purge and refil temp database.
</div>
<div class="form-group">
    <button type="submit" name="form.consumeparts" value="Submit" class="btn btn-default">Consume parts</button>
    Warning! Code built for one time use. Only run this if explicitly required. Sets inv 0+inactive when no location
</div>

{% elif display == 'confirmation' %}
<div class="form-group">
    <button type="submit" name="form.confirm" value="confirm" class="btn btn-default">Confirm</button>
    <button type="submit" name="form.cancel" value="cancel" class="btn btn-default">Cancel</button>
</div>



{% endif %}
</form>
{% endblock content %}

