{% extends 'layout.jinja2' %}

{% block title %}Update Carrier - {% endblock title %}

{% block content %}
<p>
<strong>
    Update Carrier {{ carrierid }}
</strong><br>
{{ message }}
</p>
<form action="{{ url }}" method="post">
<input type="hidden" name="next" value="{{ next_url }}">
<div class="form-group">
    <label for="carrierid">Carrier ID</label>
    <input type="text" name="carrierid" value="{{ carrierid }}" readonly>
</div>
<div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="text" name="quantity" id="quantity" value="{{ quantity }}">
</div>
<div class="form-group">
    <label for="depot">Depot</label>
    <input type="text" name="depot" id="depot" value="{{ depot }}">
</div>


<div class="form-group">
    <button type="submit" name="form.submitted" value="Submit" class="btn btn-default">Update</button>
</div>

<div class="form-group">
    <input type="checkbox" class="form-control" 
       id="guessed" name="guessed" 
       {{ guessed }} value="True">
    <label for="guessed">Guessed</label>
</div>

<div class="form-group">
    <label for="holes">Holes</label>
    <input type="text" name="holes" value="{{ holes }}">
</div>
<div class="form-group">
    <label for="thickness">Tape Thickness</label>
    <input type="text" name="thickness" value="{{ thickness }}">
</div>
<div class="form-group">
    <label for="inradius">Inside Radius</label>
    <input type="text" name="inradius" value="{{ inradius }}">
</div>
<div class="form-group">
    <label for="outradius">Outside Radius</label>
    <input type="text" name="outradius" value="{{ outradius }}">
</div>
<div class="form-group">
    <label for="length">Length</label>
    <input type="text" name="length" value="{{ length }}">
</div>
<div class="form-group">
    <label for="margin">Safety Margin %</label>
    <input type="text" name="margin" value="{{ margin }}">
</div>

<div class="form-group">
    <button type="submit" name="form.calculate" value="Calculator" class="btn btn-default">Calculate</button>
    <button type="submit" name="form.print" value="Print Label" class="btn btn-default">Print & Update</button>
</div>

</form>
<script>document.getElementById('quantity').focus();</script>
{% endblock content %}
