{% extends 'layout.jinja2' %}

{% block title %}View Users - {% endblock title %}

{% block content %}
<p>
<strong>
    User Role
</strong><br>
{{ message }}
</p>
{% for u in users %}
 <li><a href="{{ '/edituser/%s'%u.name }}">{{ u.name }} </a> {{u.role}}
{% endfor %}
{% endblock content %}
